.header {
  padding: 16px 0 5px;
  z-index: 11;
  background-color: $cBlue;
  @include tablet {
    padding: 43px 0 5px;
  }

  &_holder {
    @include layout;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 30px;
    }
  }

  &_top,
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_top {
    color: $cGray;
  }

  &_user {
    display: flex;
    align-items: center;
    gap: 20px;
    @include tablet {
      gap: 30px;
    }
  }

  &_user-link {
    color: $cGray;
    display: inline-flex;
    gap: 6px;
    align-items: baseline;
  }

  &_logo {
    flex-shrink: 0;
    @include tablet {
      margin-right: 24px;
    }
    @include desktop {
      margin-right: 54px;
    }
  }

  &_bottom-center {
    display: flex;
    gap: 16px;
    align-items: center;
    @include tablet {
      flex-grow: 1;
      margin-right: 16px;
    }
    @include desktop {
      margin-right: 46px;
    }
  }

  &_bottom-right {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &_contacts-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_contacts-item-value {
    color: $cBlackLight;
  }

  &_cart-button {
    @include button;
  }
}
