.header {
  padding: 22px 0 15px;
  z-index: 11;
  background-color: $cBlue;
  @include tablet {
    padding: 25px 0 15px;
  }

  .fixed-menu & {
    @include tablet {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 15px
    }
  }

  &_holder {
    @include layout;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 30px;
    }
  }

  &_top,
  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_top {
    color: $cGray;
    padding-right: 38px;
    @include desktop {
      padding-right: 0;
    }

    .fixed-menu & {
      @include tablet {
        display: none;
      }
    }
  }

  &_bottom {
    flex-wrap: wrap;
    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &_user {
    display: flex;
    align-items: center;
    gap: 20px;
    @include tablet {
      gap: 30px;
      flex-shrink: 0
    }
  }

  &_user-link {
    @include button-reset;
    color: $cGray;
    display: inline-flex;
    gap: 6px;
    align-items: baseline;
    font-size: 0;
    position: relative;
    @include desktop {
      font-size: 14px;
      display: none;
    }

    &__desktop {
      @include desktop {
        display: inline-flex;
      }
    }
  }

  &_user-link-count {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 10px;
    background-color: $cBright;
    border-radius: 50%;
    height: 14px;
    min-width: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cLight;
  }

  &_logo {
    flex-shrink: 0;
    order: 1;
    position: absolute;
    top: 18px;
    left: 72px;
    display: none;
    @include media(375px) {
      display: block;
      width: 90px;
    }
    @include media(440px) {
      width: 140px;
    }
    @include tablet {
      margin-right: 24px;
      width: auto;
    }
    @include desktop {
      position: static;
      margin-right: 54px;
    }
  }

  &_bottom-center {
    display: flex;
    gap: 16px;
    align-items: center;
    order: 3;
    width: 100%;
    @include tablet {
      flex-grow: 1;
      margin-right: 16px;
    }
    @include desktop {
      width: auto;
      order: 2;
      margin-right: 46px;
    }
  }

  &_bottom-right {
    display: flex;
    gap: 40px;
    align-items: center;
    order: 2;
    width: 100%;
    margin: 0 0 20px;
    @include desktop {
      order: 3;
      width: auto;
      margin: 0;
      flex-shrink: 0;
    }
  }

  &_contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    @include desktop {
      display: block;
      width: auto;
    }
  }

  &_contacts-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_contacts-item-value {
    color: $cBlackLight;
    white-space: nowrap;
  }

  &_cart-button {
    position: absolute;
    top: 24px;
    right: 26px;
    font-size: 0;
    @include desktop {
      @include button;
      position: static;
      filter: none;
    }

    img {
      filter: grayscale(1) brightness(1.2);
      transition: .2s $easing filter;
    }

    &:hover img {
      filter: grayscale(1) brightness(10);
    }
  }

  &_cart-button-count {
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 10px;
    background-color: $cBright;
    border-radius: 50%;
    height: 14px;
    min-width: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cLight;
    @include desktop {
      position: static;
      background: transparent;
      color: currentColor;
      font-size: 14px;
    }
  }

  &_search {
    display: none;
    position: absolute;
    left: 19px;
    right: 19px;
    top: 109px;
    flex-grow: 1;
    @include desktop {
      display: block;
      position: static;
    }

    &.active {
      display: block;
    }
  }
}
