.menu-toggle {
  @include button-reset;
  height: 21px;
  width: 31px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  gap: 7px;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  transition: .2s $easingSmooth opacity,
    .2s $easingSmooth color,
    .2s $easingSmooth background-color,
    .2s $easingSmooth transform;

  @include desktop {
    display: none;
  }

  &_line,
  &_dioganal-line {
    height: 3.5px;
    background-color: $cBright;
    border-radius: 1px;
    transform-origin: center;
    transition: .2s $easingSmooth scale;
    scale: (1, 1);
  }

  &_dioganal-line {
    position: absolute;
    left: 10px;
    width: 28px;
    top: 22px;
    rotate: -45deg;

    &:last-child {
      rotate: 45deg;
    }
  }

  &_line {
    .opened & {
      scale: 0 1;
    }
  }

  &_dioganal-line {
    scale: 0 1;

    .opened & {
      scale: 1 1;
    }
  }
}
