.popup {
  background: $cBackbround;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  box-sizing: border-box;
  z-index: 101;
  pointer-events: none;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s $easing transform,
    .3s $easing opacity;

  @include tablet {
    padding: 30px 100px;
    border-radius: 30px 0 0 30px;
  }

  &.opened {
    opacity: 1;
    pointer-events: all;
  }

  &_close {
    @include button-reset;
    background: url(#{$img}/close-light.svg) no-repeat center center / 100%;
    border: none;
    height: $indent;
    width: $indent;
    position: absolute;
    top: $indent;
    right: $indent;
    z-index: 101;
    padding: 0;
    transition: .2s $easing opacity;
    @include tablet {
      height: 32px;
      width: 32px;
      top: 30px;
      right: 30px;
    }

    &:hover {
      opacity: .6;
    }

    &:active {
      opacity: 1;
    }
  }

  &_content {
    background-color: $cBackbround;
    border-radius: 20px;
    overflow: auto;
    margin: auto;
    position: relative;
    z-index: 101;
    // display: inline-flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-height: 90vh;
  }
}

.js-my-cars-popup {
  z-index: 102;
}
