.tabs {
  width: 100%;

  &_buttons {
    display: flex;
    gap: 16px;
  }

  &_button {
    &:active,
    &.active {
      color: $cLight;
      background-color: $cBright;
    }
  }

  &_content {
    position: relative;
    padding: 20px 0 0;
  }

  &_tab {
    display: none;

    &.active {
      display: block;
    }
  }
}
