@mixin button {
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: $cBlack;
  border: 1px solid $cBright;
  background-color: transparent;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1;
  padding: 11px 15px;
  font-family: $font-family;
  width: 100%;
  transition: .3s $easing background,
              .2s $easing color,
              .2s $easing border-color;
  @include media(420px) {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 140px;
  }
  @include tablet {
    width: auto;
  }

  &:hover {
    color: $cLight;
    background-color: $cBright;
  }

  &:active {
    color: $cLight;
    background-color: $cBrightLight;
  }

  &:disabled {
    pointer-events: none;
    opacity: .6;
  }
}

@mixin button-filled {
  background-color: $cBright;
  color: $cLight;

  &:hover {
    background-color: $cBrightLight;
  }

  &:active {
    background-color: $cBright;
  }
}

.button,
button,
input[type="button"] {
  @include button;
}

.button__filled,
input[type="submit"] {
  @include button;
  @include button-filled;
  border-radius: 5px;
}

.button {
  &__plus {
    background: url(#{$img}/plus.svg) no-repeat left 16px center;
    padding-left: 32px;
  }
}
