.fake-select {
  &_button {
    justify-content: flex-start;
    text-align: left;
    padding-left: 23px;
    background: $cLight url(#{$img}/arrow-down.svg) no-repeat right 14px center;
    border-color: $cLight;
    width: 100%;

    &:hover,
    &.active {
      border-color: $cBright;
      background-color: $cLight;
      color: $cBlack;
    }

    &.error {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      box-shadow: 0 0 0 3px $cBright;
    }
  }

  &_popup {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: $cLight;
    padding: 20px 25px 25px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    transition: .2s $easing opacity;
    @include media(420px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }

    &.opened {
      opacity: 1;
      pointer-events: all;
    }
  }

  &_value {
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s $easing background,
                .2s $easing color;
    @include tablet {
      width: 12.5%;
    }

    &__with-letter {
      position: relative;
      padding-left: 20px;
    }

    &:hover {
      background-color: $cBright;
      color: $cLight;
    }

    &:active {
      background-color: $cBrightLight;
    }

    div {
      color: $cGray;
      font-size: 13px;
      pointer-events: none;
      margin-top: 5px;
    }
  }

  &_letter {
    font-weight: bold;
    color: $cBright;
    position: absolute;
    left: 3px;
    top: 15px;
    pointer-events: none;

    .fake-select_button & {
      display: none;
    }
  }
}
