.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  @include tablet {
    gap: 8px;
  }

  &_row {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    position: relative;
    gap: 6px;
    @include tablet {
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

    label:first-child {
      font-size: 15px;
      color: $cGray;
      margin: 0;
      @include tablet {
        width: 216px;
        flex-shrink: 0;
      }
    }
  }

  &_error {
    font-size: 14px;
    line-height: 19px;
    color: #ff0000;
    position: absolute;
    left: 0;
    bottom: -27px;
    display: none;

    .error & {
      display: block;
    }
  }
}
