input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"] {
  @include placeholder-color($cGray);
  color: $color;
  background: $cLight;
  border: 1px transparent solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: $cBlack;
  font: 16px/41px $font-family;
  height: 41px;
  padding: 0 18px;
  width: 100%;
  transition: .2s $easingSmooth border-color,
              .2s $easingSmooth color,
              .2s $easingSmooth box-shadow;

  &:focus {
    color: $color;
  }

  .error & {
    @include placeholder-color($cBright);
    border-color: $cBright;
  }
}
