textarea {
  @include placeholder-color($cGray);
  color: $color;
  background: $cLight;
  border: 1px transparent solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: $cBlack;
  font: 16px/41px $font-family;
  height: 41px;
  padding: 0 18px;
  width: 100%;
  resize: none;
  height: 150px;
  transition: .2s $easingSmooth border-color,
              .2s $easingSmooth color,
              .2s $easingSmooth box-shadow;

  &:focus {
    color: $color;
  }

  .error & {
    @include placeholder-color(#ff0000);
    color: #ff0000;
  }
}
