.benefits {
  @include layout;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px 24px;
  @include tablet {
    padding-top: 50px;
    flex-wrap: nowrap;
  }

  &__small {
    flex-direction: column;
    background-color: $cLight;
    border-radius: 5px;
    padding: 12px;
    @include tablet {
      padding: 26px;
    }
  }

  &_card {
    width: calc(50% - 24px);
    text-align: center;
    @include tablet {
      flex-grow: 1;
      width: auto;
    }

    .benefits__small & {
      display: flex;
      gap: 12px;
      align-items: center;
      text-align: left;
      width: 100%;
    }
  }

  &_card-icon-wrapper {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;

    .benefits__small & {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin: 0;
    }
  }

  &_card-icon {
    max-width: 100%;
    filter: grayscale(1) brightness(1.75);

    .benefits__small & {
      filter: none;
    }
  }

  &_card-title {
    font-size: 15px;
    @include tablet {
      font-size: 16px;
    }

    .benefits__small & {
      font-size: 13px;
      color: $cGrayLight;
    }
  }
}
