.car-finder {
  background-color: $cBlue;
  padding: 32px 0 26px;
  @include tablet {
    background-color: transparent;
    padding: 40px 0 0;
  }

  &_title {
    font-style: 28px;
    line-height: 1;
    margin: 0 auto 10px;
    text-align: center;
    @include tablet {
      font-style: 36px;
      line-height: 40px;
    }
  }

  &_subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0;
  }

  &_filters {
    background-color: $cBlue;
    @include tablet {
      margin-top: 26px;
    }
  }

  &_filters-container {
    @include layout;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
    @include tablet {
      padding: 30px 20px;
      flex-direction: row;
      gap: 10px;
    }
  }

  &_filters-item {
    opacity: .5;
    pointer-events: none;
    @include tablet {
      flex-grow: 1;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &_result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &_result-image {
    height: 100px;
  }

  &_result-title {
    font-size: 20px;
    margin: 0;
  }

  &_result-test {
    color: $cGray;
  }
}
