.car-finder {
  background-color: $cBlue;
  padding: 32px 0 26px;
  @include tablet {
    background-color: transparent;
    padding: 40px 0 0;
  }

  &_title {
    font-style: 28px;
    line-height: 1;
    margin: 0 auto 10px;
    text-align: center;
    @include tablet {
      font-style: 36px;
      line-height: 40px;
    }
  }

  &_subtitle {
    font-size: 16px;
    text-align: center;
    margin: 0;
  }

  &_filters {
    background-color: $cBlue;
    @include tablet {
      margin-top: 26px;
    }
  }

  &_filters-container {
    @include layout;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
    @include tablet {
      padding: 30px 20px;
      flex-direction: row;
      gap: 10px;
    }
  }

  &_filters-item {
    opacity: .5;
    pointer-events: none;
    @include tablet {
      flex-grow: 1;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &_result,
  &_selected-car {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
  }

  &_result {
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &_my-cars {
    position: relative;
  }

  &_selected-car {
    display: flex;
    flex-direction: column;
    padding: 16px;
    @include tablet {
      flex-direction: row;
    }
  }

  &_result-car,
  &_result-car-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-shrink: 0;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }

    .car-finder_my-cars-popup & {
      position: relative;
      padding: 10px;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &_result-car {
    flex-direction: row;

    .car-finder_my-cars-popup & {
      width: 90vw;
      flex-direction: row;
      @include tablet {
        width: 610px;
      }
    }

    input + label:not([class]) {
      margin: 0 0 0 -20px;
      @include tablet {
        margin: 0 -20px 0 0;
      }
    }
  }

  &_result-car-content {
  }

  &_result-buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
    @include desktop {
      flex-direction: row
    }
  }

  &_my-cars {
  }

  &_my-cars-button {
    @include button-filled;
  }

  &_my-cars-popup {
    box-sizing: border-box;
    background-color: $cLight;
    padding: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &_result-image {
    height: 80px;
  }

  &_result-title {
    font-size: 20px;
    margin: 0;
  }

  &_result-test {
    color: $cGray;
  }
}
