.cart {
  flex-grow: 1;
  @include tablet {
    max-width: calc(100% - 40px - 380px);
  }

  &_item-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &_item-brand {
    display: block;
    margin-bottom: 5px;
  }

  &_item-sku {
    display: block;
    color: $cGray;
  }

  &_item-price {
    font-size: 14px;
    color: $cGray;

    strong {
      font-size: 16px;
      color: $color;
      font-weight: 700;
    }
  }

  &_item-stock {
    font-size: 13px;

    &__available {
      color: $cGreen;
    }
  }

  &_item-delete {
    @include button-reset;
    height: 17px;
    width: 16px;
    display: inline-block;
    background: url(#{$img}/trash.svg) no-repeat center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: .2s $easing opacity,
                .2s $easing filter;

    &:hover {
      filter: grayscale(0);
      opacity: .7;
    }

    &:active {
      filter: grayscale(0);
      opacity: .5;
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding-top: 26px;
    @include tablet {
      flex-direction: row;
      gap: 50px;
    }
  }

  &_bottom-info {
    @include tablet {
      max-width: 480px;
    }
  }

  &_summary {
    font-size: 16px;
    flex-shrink: 0;
  }

  &_sum {
    font-size: 14px;

    strong {
      font-size: 22px;
    }
  }

  td,
  th {
    padding: 11px;
    text-align: left;
    @include tablet {
      text-align: center;
    }

    &:first-child {
      padding-left: 11px;
      padding-right: 11px;
    }

    &:last-child {
      padding-left: 25px;
      padding-right: 25px;
    }

    &:nth-child(2) {
      text-align: left;
      padding-left: 0;
    }
  }

  th {
    background-color: $cBlue;
  }

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
    border-bottom: 1px solid $cGrayLight;
  }

  &_table {
    td {
      display: block;
      width: 50%;
      box-sizing: border-box;
      @include tablet {
        width: auto;
        display: table-cell;
      }

      &:first-child {
        display: none;
        @include tablet {
          display: table-cell;
        }
      }

      &:nth-child(2) {
        width: 100%;
        padding-right: 30px;
        @include tablet {
          width: auto;
          padding-right: 11px;
        }
      }

      &:nth-child(3) {
        display: none;
        @include tablet {
          display: table-cell;
        }
      }

      &:nth-child(4) {
        padding-left: 0;
        @include tablet {
          padding-left: 11px;
        }
      }

      &:nth-child(5) {
        text-align: right;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        @include tablet {
          display: table-cell;
          text-align: left;
        }
      }

      &:last-child {
        position: absolute;
        top: 23px;
        right: 2px;
        padding: 0;
        border-bottom-width: 0;
        width: auto;
        @include tablet {
          position: static;
          padding: 11px 25px;
          border-bottom-width: 1px;
        }
      }
    }

    thead {
      display: none;
      @include tablet {
        display: table-header-group;
      }
    }

    tbody {
      display: block;
      @include tablet {
        display: table-row-group;
      }
    }

    tr {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include tablet {
        display: table-row;
      }
    }
  }

  .number-input {
    width: 100px;
    margin: auto;
  }

  .swiper-slide {
    width: 170px;
  }
}
