.cart-page {
  @include layout;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
  @include tablet {
    flex-direction: row;
    gap: 40px;
  }

  select {
    width: 100%;
  }

  select + .location {
    margin-top: 10px;
  }
}
