.catalog-menu {
  width: 100%;
  @include desktop {
    width: auto;
  }

  &_button {
    @include button-filled;
  }

  &_popup {
    box-sizing: border-box;
    background-color: $cLight;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 175px;
    width: 100vw;
    z-index: 5;
    display: none;
    box-shadow: 0 10px 20px 2px rgba($cGray, .5);
    @include desktop {
      padding: 0;
      top: 180px;
    }

    .opened & {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 20px;
      height: 40px;
      width: 40px;
      background-color: $cLight;
      border-radius: 8px;
      transform: rotate(45deg) translate(32px, 6px);
      @include desktop {
        left: calc(50% - 380px);
      }
    }

    .fixed-menu & {
      @include tablet {
        top: 80px;
      }
    }
  }

  &_close {
    @include button-reset;
    position: absolute;
    right: 16px;
    top: 16px;
    height: 30px;
    width: 30px;
    background: url(#{$img}/close.svg) no-repeat center;
    @include desktop {
      display: none;
    }
  }

  &_popup-content {
    max-height: calc(100dvh - 222px);
    @include desktop {
      @include layout;
      display: flex;
    }
  }

  &_categories,
  &_subcategory-list {
    list-style: none;
    padding: 0;
  }

  &_categories {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 36px;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    @include desktop {
      margin: 50px 0;
      padding: 0;
      width: 300px;
      box-sizing: border-box;
      flex-shrink: 0;
      position: relative;
    }

    &::after {
      @include desktop {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        right: 30px;
        border-right: 1px solid $cGrayLight;
      }
    }
  }

  &_subcategories {
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    @include desktop {
      position: relative;
      padding: 50px 30px;
      flex-grow: 1;
    }

    &.empty::before {
      @include desktop {
        content: '';
        background: url(#{$img}/parts-placeholder.avif) no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: .5;
      }
    }

    &.loading::after {
      content: '';
      @include spinner;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }
  }

  &_category-item {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    @include desktop {
      padding-right: 60px;
    }

    &.active::after {
      @include desktop {
        content: '';
        position: absolute;
        top: 8px;
        right: 22px;
        height: 15px;
        width: 15px;
        background-color: $cLight;
        border-top: 1px solid $cGrayLight;
        border-right: 1px solid $cGrayLight;
        transform: rotate(45deg);
        z-index: 1;
      }
    }
  }

  &_category-icon,
  &_subcategory-icon {
    height: 35px;
    width: 40px;
    object-fit: contain;
  }

  &_subcategory-icon {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &_category-link {
    font-size: 16px;
    color: $cBlackLight;

    .active & {
      font-weight: bold;
    }
  }

  &_subcategory {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $cLight;
    height: 100%;
    overflow: auto;
    @include desktop {
      display: block;
      position: static;
      height: auto;
      overflow: initial;
    }

    &.opened {
      display: block;
    }
  }

  &_subcategory-list {
    padding: 0 24px;
    margin: 0;
    @include desktop {
      padding: 0;
      columns: 2;
      padding: 0;
    }
    @include desktop-large {
      columns: 3;
    }

    li {
      padding: 6px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      @include desktop {
        padding: 0 0 6px;
      }
    }
  }

  &_subcategory-title {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 72px;
    border-bottom: 1px solid $cGrayLighter;
    background: url(#{$img}/back.svg) no-repeat left 35px center;
    position: relative;
    display: block;
    @include desktop {
      display: none;
    }

    &::after {
      content: '';
      background: url(#{$img}/close.svg) no-repeat center;
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10px;
      top: 10px;
      @include desktop {
        content: none;
      }
    }
  }
}
