.categories {
  width: 100%;
  @include desktop {
    width: auto;
  }

  &_content {
    @include layout;
    box-sizing: border-box;
    z-index: 3;
    position: relative;
    @include desktop {
      display: flex;
      padding: 0;
    }
  }

  &_close {
    @include button-reset;
    position: absolute;
    right: 16px;
    top: 16px;
    height: 30px;
    width: 30px;
    background: url(#{$img}/close.svg) no-repeat center;
    @include desktop {
    }
  }

  &_categories,
  &_subcategory-list {
    list-style: none;
    padding: 0;
  }

  &_categories {
    background-color: $cLight;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    @include desktop {
      margin: 50px 0;
      width: 300px;
      border-right: 1px solid $cGrayLight;
      flex-shrink: 0;
    }
  }

  &_subcategories {
    @include desktop {
      padding: 50px 30px 50px 50px;
      flex-grow: 1;
    }
  }

  &_category-item {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;

    &.active::after {
      @include desktop {
        content: '';
        position: absolute;
        top: 8px;
        left: calc(100% + 6px);
        height: 20px;
        width: 20px;
        background-color: $cLight;
        border-top: 1px solid $cGrayLight;
        border-right: 1px solid $cGrayLight;
        transform: rotate(45deg);
      }
    }
  }

  &_category-icon,
  &_subcategory-icon {
    height: 40px;
    width: 53px;
    object-fit: contain;

    .categories_subcategory & {
      width: 125px;
      height: 120px;
    }
  }

  &_subcategory-icon {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &_category-link {
    font-size: 16px;
    color: $cBlackLight;

    .categories_subcategory & {
      font-size: 15px;
      font-weight: 500;
      min-height: 26px;
      line-height: 1;
      word-break: break-all;
      @include desktop {
        word-break: normal;
        text-align: center;
      }
    }
  }

  &_subcategory {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $cBackbround;
    @include desktop {
      background-color: transparent;
      position: static;
    }

    &.opened {
      display: block;
    }
  }

  &_subcategory-list {
    padding: 20px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    @include desktop {
      grid-template-columns: repeat(5, 1fr);
      gap: 22px;
      padding: 0;
    }

    li {
      padding: 26px 0;
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: $cLight;
      padding: 16px;
      @include desktop {
        gap: 10px;
        flex-direction: column;
      }
    }
  }

  &_subcategory-title {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 72px;
    border-bottom: 1px solid $cGrayLighter;
    background: url(#{$img}/back.svg) no-repeat left 35px center;
    position: relative;
    display: block;
    @include desktop {
      display: none;
    }

    &::after {
      content: '';
      background: url(#{$img}/close.svg) no-repeat center;
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10px;
      top: 10px;
      @include desktop {
        content: none;
      }
    }
  }
}
