.city-input {
  width: 100%;
  position: relative;

  .loader {
    display: none;
    position: absolute;
    right: 8px;
    top: 12px;
    width: 10px;
    height: 10px;
    padding: 4px;
  }

  &.loading .loader {
    display: block;
  }
}
