.location {
  color: $cGray;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 122px;
  @include desktop {
    font-size: 15px;
    flex-shrink: 0;
    position: static;
  }

  &:hover {
    opacity: .6;
  }
  &:active {
    opacity: .8;
  }

  .checkout & {
    font-size: 15px;
    position: static;
  }

  &_icon {
    display: block;
    position: relative;
    bottom: 2px;
    width: 16px;
    filter: brightness(0.8);
    @include desktop {
      width: 12px;
      filter: none;
    }
  }

  sup {
    font-size: 11px;
    top: -4px;
    position: absolute;
    right: -7px;
    @include desktop {
      position: relative;
      right: 0;
      top: -13px;
      font-size: 13px;
      display: inline;
    }
  }
}
