.location {
  color: $cGray;
  font-size: 15px;
  display: none;
  align-items: flex-end;
  gap: 6px;
  @include tablet {
    display: flex;
  }

  &_icon {
    display: block;
    position: relative;
    bottom: 2px;
  }
}
