.profile {
  @include layout;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 20px;
  @include tablet {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 40px;
  }

  &_navigation {
    @include tablet {
      width: 250px;
    }
  }

  &_navigation-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &_navigation-link {
    font-size: 16px;
    position: relative;
  }

  &_navigation-link-count {
    position: absolute;
    background-color: $cBright;
    color: $cLight;
    padding: 3px 6px;
    border-radius: 4px;
    left: calc(100% + 4px);
    top: 0px;
    font-size: 12px;
  }

  &_content {
    flex-grow: 1;
  }

  &_title {
    font-size: 22px;
    margin: 0 0 32px;
    @include tablet {
      font-size: 26px;
    }
  }

  &_user-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    @include tablet {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &_user-code {
    font-size: 16px;
    color: $cGray;
    display: block;
  }

  &_content-tab {
    display: none;
    padding: 26px 0;

    &.active {
      display: block;
    }

    &__small {
      max-width: 500px;
    }
  }

  &_adresses-table,
  &_orders-table,
  &_autos-table {
    th,
    td {
      padding: 20px;
      text-align: center;
      font-size: 16px;
      border-bottom: 1px solid $cGrayLighter;
      font-weight: 400;
    }

    th {
      background: $cBlue;
      font-size: 14px;
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    a:not([class]) {
      text-decoration: underline;
    }
  }

  &_order-status {
    display: inline-block;
    white-space: nowrap;
    padding: 5px;
    border-radius: 3px;
  }
}
