.profile {
  @include layout;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 20px;
  @include tablet {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 40px;
  }

  &_navigation {
    @include tablet {
      width: 250px;
    }
  }

  &_navigation-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &_navigation-link {
    font-size: 16px;
    position: relative;
  }

  &_navigation-link-count {
    position: absolute;
    background-color: $cBright;
    color: $cLight;
    padding: 3px 6px;
    border-radius: 4px;
    left: calc(100% + 4px);
    top: 0px;
    font-size: 12px;
  }

  &_content {
    flex-grow: 1;
  }

  &_title {
    font-size: 22px;
    margin: 0 0 32px;
    @include tablet {
      font-size: 26px;
    }
  }

  &_user-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    @include tablet {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &_user-code {
    font-size: 16px;
    color: $cGray;
    display: block;
  }

  &_content-tab {
    display: none;
    padding: 26px 0;

    &.active {
      display: block;
    }

    &__small {
      max-width: 500px;
    }
  }

  &_adresses-table,
  &_orders-table,
  &_autos-table {
    th,
    td {
      padding: 16px;
      text-align: center;
      border-bottom: 1px solid $cGrayLighter;
      font-weight: 400;
      font-size: 13px;
      @include tablet {
        font-size: 16px;
        padding: 20px;
      }
    }

    th {
      background: $cBlue;
      font-size: 14px;
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;

      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }

    .actions {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    a:not([class]) {
      text-decoration: underline;
    }
  }

  &_orders-table {
    th {
      display: none;
      @include tablet {
        display: table-cell;
      }
    }

    td {
      padding: 0;
      border-bottom: none;
      @include tablet {
        padding: 20px;
        border-bottom: 1px solid $cGrayLighter;
      }
    }

    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      gap: 12px;
      padding: 0 0 20px;
      border-bottom: 1px solid $cGrayLighter;
      @include tablet {
        margin-bottom: 0;
        display: table-row;
        border-bottom: none;
        padding: 0;
      }
    }

    thead {
      display: none;
      @include tablet {
        display: table-header-group;
      }
    }

    tbody {
      display: block;
      @include tablet {
        display: table-row-group;
      }
    }
  }

  &_order-status {
    display: inline-block;
    white-space: nowrap;
    padding: 5px;
    border-radius: 3px;
  }

  &_table-edit,
  &_table-delete {
    height: 16px;
    width: 16px;
    background: no-repeat center / 100%;
    filter: grayscale(1);
    transition: .2s $easing opacity;

    &:hover {
      opacity: .6;
    }

    &:hover {
      opacity: .8;
    }
  }

  &_table-edit {
    background-image: url(#{$img}/edit.svg);
  }

  &_table-delete {
    background-image: url(#{$img}/trash.svg) ;
  }

  &_order-id {
    display: none;
    @include tablet {
      display: inline;
    }
  }

  &_mobile-label {
    @include tablet {
      display: none;
    }
  }
}
