.rating {
  display: flex;
  align-items: center;

  &.editable {
    margin-top: -4px;
  }

  &_star {
    height: 18px;
    width: 18px;
    background: url(#{$img}/star.svg) no-repeat center;

    &__filled {
      background-image: url(#{$img}/star-filled.svg);
    }

    .editable & {
      cursor: pointer;
      height: 26px;
      width: 26px;
      background-size: 80%;
    }

    .editable:hover & {
      background-image: url(#{$img}/star-filled.svg);
    }

    .editable &:hover ~ & {
      background-image: url(#{$img}/star.svg);
    }
  }
}
