.slider {
  background: $cBlue;
  margin-top: -$indent;

  &_holder {
    @include layout;
  }

  &_item {
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 1060px;
    margin: auto;
    flex-direction: column;
    padding-bottom: 30px;
    @include tablet {
      padding-bottom: 0;
      flex-direction: row;
    }
  }

  &_item-content {
    display: contents;
    @include tablet {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      max-width: 426px;
    }

    .button {
      order: 4;
      @include tablet {
        order: initial;
      }
    }
  }

  &_item-title {
    order: 1;
    font-size: 26px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 20px;
    @include tablet {
      font-size: 36px;
      line-height: 42px;
      max-width: 80%;
      order: initial;
    }

    span {
      font-weight: 900;
      color: $cBright;
    }
  }

  &_item-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
    order: 3;
    @include tablet {
      order: initial;
    }
  }

  &_item-image {
    order: 2;
    @include tablet {
      order: initial;
    }
  }


  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    @include tablet {
      display: block;
    }
  }

  .swiper-pagination {
    bottom: 10px;
    @include tablet {
      bottom: 30px;
    }
  }
}
