.slider {
  background: $cBlue;
  margin-top: -$indent;

  &_holder {
    @include layout;
  }

  &_item {
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 1060px;
    margin: auto;
  }

  &_item-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 426px;
  }

  &_item-title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    @include tablet {
      max-width: 80%;
    }

    span {
      font-weight: 900;
      color: $cBright;
    }
  }

  &_item-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}
