.catalog-info {
  &_count {
    font-size: 18px;
    font-weight: 400;
    color: $cGrayLight;
  }

  &_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }
    @include desktop {
      gap: 70px;
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 10px;
    }
  }

  &_contacts {
    @include tablet {
      text-align: right;
      flex-shrink: 0;
      white-space: nowrap;
    }

    a {
      display: block;
      font-weight: 700;
    }
  }
}
