.catalog {
  @include layout;
  padding-top: 14px;
  padding-bottom: 14px;
  @include tablet {
    padding-bottom: 40px;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 14px;
    @include tablet {
      justify-content: flex-end;
    }

    button,
    select {
      flex-grow: 1;
      width: 50%;
      @include tablet {
        flex-grow: 0;
        width: auto;
      }
    }
  }

  &_header-button {
    @include button-reset;
    border-radius: 3px;
    border: 1px solid #81868c;
    padding: 8px 16px;
    font-size: 14px;
    @include tablet {
      display: none;
    }

    &:hover {
      color: $cGrayLight;
    }
  }

  &_holder {
    display: flex;
    gap: 60px;
    position: relative;

    &.loading {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      &::after {
        content: '';
        @include spinner;
        position: absolute;
        top: 200px;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        z-index: 2;
      }
    }
  }

  &_filters {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    overflow: auto;
    background-color: $cBackbround;
    padding: 16px;
    box-sizing: border-box;
    z-index: 5;
    display: none;
    @include tablet {
      display: block;
      position: static;
      width: 212px;
      flex-shrink: 0;
      height: auto;
      background-color: transparent;
      padding: 0;
      left: auto;
      z-index: 1;
    }

    .filters-opened & {
      display: block;
    }

    .catalog_holder.loading & {
      opacity: .5;
    }
  }

  &_content {
    @include tablet {
      flex-grow: 1;
    }

    .catalog_holder.loading & {
      opacity: .5;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &_more {
    background-color: $cLight;
    color: $cGray;
    border: none;
    padding: 7 24px;
    border-radius: 3px;
    box-shadow: 0 4px 20px #EEF3FD;
    margin: 6px 0 14px;
    @include tablet {
      width: auto;
    }
  }
}
