.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_section-title {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 0 0 12px;
  }

  &_section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 500px;
    overflow: auto;

    & > *,
    & > *[type="text"],
    & > *[type="checkbox"] {
      box-sizing: border-box;
      width: calc(50% - 8px);
    }

    &__wide > *  {
      width: 100%;
    }

    input[type="text"] {
      border-radius: 0 3px 3px 0;
      border: 1px solid $cGrayLighter;
      margin: 0 0 0 -4px;

      &:first-child {
        border-radius: 3px 0 0 3px;
        border-right: none;
        margin: 0 -4px 0 0;
      }
    }
  }

  &_item-name {
    font-size: 14px;

    .count {
      color: $cGray;
    }
  }

  &_more {
    @include button-reset;
    color: $cGray;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 12px;

    &:hover {
      color: $cGrayLight;
    }
  }

  &_more[class] ~ *:not([class]) {
    display: none;
  }

  &_more-icon {
    background: url(#{$img}/arrow-right.svg) no-repeat center;
    display: inline-block;
    height: 8px;
    width: 15px;
    pointer-events: none;
  }

  &_title {
    font-size: 18px;
    font-weight: 700;
  }

  &_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    @include tablet {
      justify-content: space-between;
    }
  }

  &_clear {
    @include button-reset;
    background: url(#{$img}/trash.svg) no-repeat left center / 14px;
    filter: grayscale(1);
    color: $cGray;
    font-size: 0;
    @include tablet {
      background-image: url(#{$img}/close.svg);
      padding-left: 16px;
      font-size: 16px;
    }

    &:hover {
      color: $cGray;
      opacity: .8;
    }

    &:active {
      color: $cGray;
      opacity: .6;
    }
  }

  &_close {
    @include button-reset;
    background: url(#{$img}/close.svg) no-repeat left center / 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 3;
    @include tablet {
      display: none;
    }
  }
}
