.product-card {
  position: relative;
  background-color: $cLight;
  padding: 56px 16px 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  @include desktop {
    padding: 0 0 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  &_label {
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #75A84C;
    font-size: 12px;
    color: $cLight;
    text-align: center;
    padding: 5px 20px;
    min-width: 98px;
    z-index: 1;
    @include desktop {
      top: 28px;
      min-width: 120px;
    }

    &::after {
      content: '';
      position: absolute;
      height: 28px;
      width: 24px;
      top: 2px;
      left: calc(100% - 10px);
      transform: rotate(30deg);
      background-color: $cLight;
    }
  }

  &_content {
    display: contents;
    @include desktop {
      width: calc(100% - 40px - 356px);
    }
    @include desktop {
      display: flex;
      flex-grow: 1;
      padding-top: 24px;
      padding-bottom: 16px;
      width: calc(100% - 40px - 256px);
    }
  }

  &_image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 8px;
    @include media(520px) {
      position: absolute;
      left: 16px;
      top: 62px;
      width: 132px;
    }
    @include desktop {
      position: static;
      width: 165px;
      flex-shrink: 0;
      padding-top: 0;
    }
  }

  &_compare {
    input + label:not([class]) {
      color: $cGray;
      font-size: 12px;
    }
  }

  &_compare-desktop {
    display: none;
    @include desktop {
      display: inline;
    }
  }

  &_image {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
  }

  &_data {
    display: contents;
    @include desktop {
      display: block;
      flex-grow: 1;
      margin: 0 30px 0 40px;
    }
  }

  &_title {
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0 14px;
    order: 1;
    @include media(520px) {
      padding-left: 152px;
      margin: 0 0 14px;
    }
    @include desktop {
      margin-bottom: 24px;
      padding-left: 0;
      order: initial;
    }
  }

  &_params {
    display: flex;
    flex-direction: column;
    order: 3;
    margin: 20px 0 6px;
    @include desktop {
      margin: 0;
      flex-direction: row;
      gap: 50px;
      order: initial;
    }
  }

  &_params-column {
    @include desktop {
      width: 50%;
    }
  }

  &_param {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 20px;
    padding: 2px 0;
    border-bottom: 1px solid $cGrayLighter;
  }

  &_param-value {
    display: block;
    text-align: right;
  }

  &_additional-info {
    display: block;
    margin: 6px 0 0;
    padding: 6px 16px;
    font-size: 13px;
    background: $cBlue;
    border-radius: 3px;
    order: 4;
    @include desktop {
      order: initial;
    }
  }

  &_controls {
    order: 2;
    @include desktop {
      position: relative;
      flex-grow: 0;
      order: initial;
      width: 268px;
      border-left: 1px solid $cGrayLighter;
      padding: 40px 26px 26px;
      display: flex;
      flex-direction: column;
      min-height: 186px;
      box-sizing: border-box;
      justify-content: center;
    }

    &.loading {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($cLight, .8);
      }

      &::after {
        content: '';
        @include spinner;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
      }
    }
  }

  &_prices {
    min-height: 100px;
    @include media(520px) {
      padding-left: 152px;
    }
    @include desktop {
      min-height: 0;
      padding-left: 0;
    }
  }

  &_sku {
    font-weight: 13px;
    color: $cGrayLight;
    position: absolute;
    left: 16px;
    top: 20px;
    @include desktop {
      top: 13px;
    }
  }

  &_old-price {
    text-decoration: line-through;
    color: $cGrayLight;
    font-size: 16px;
    display: block;
    margin-bottom: 3px;
  }

  &_price {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
  }

  &_price-value {
    font-size: 22px;
    font-weight: 700;
  }

  &_discount {
    font-size: 13px;
    font-weight: 700;
    color: $cLight;
    background-color: #EF344F;
    padding: 2px 5px;
    border-radius: 3px;
    margin: 0 0 0 5px;
    vertical-align: 1px;
  }

  &_action {
    font-size: 12px;
    color: $cBright;
  }

  &_avalability {
    font-size: 13px;
    display: block;
    color: $cGray;
    margin-top: 7px;
  }

  &_avalability-value {
    font-weight: 700;

    &__in-stock {
      color: #75A84C;
    }

    &__wait {
      color: #f39d00;
    }
  }

  &_buttons {
    margin-top: 16px;
    display: flex;
    gap: 6px;
  }

  &_button {
    @include button-filled;
    padding: 9px 12px;
    border-radius: 5px;
    font-size: 15px;
    min-width: 0;
    position: relative;
    @include desktop {
      flex-shrink: 0;
      gap: 6px;
    }

    img {
      width: 16px;
    }
  }

  &_show-price {
    border-radius: 5px;
    width: 100%;
  }
}
